.stack{
    padding: var(--space-sm) 0;
}
.stack > *  + *{
    margin-top: var(--stack-space,1em);
}

.subtitle{
    font-size: var(--small-heading2);
    font-weight: bold;
}

.title{
    --stack-space:0.2em;
}

.publish{
    display: flex;
    gap: 0.5em;
    color: var(--gary-50);
    font-size: var(--small-heading3);
}